/*
.header {
    height: 34vw;
    margin: 30px auto;
    position: relative;
    overflow: hidden;
  }
  
  .header img {
    width: 100%;
    height: auto;
  }
  
  .header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
  }
  
  .header-contents h2 {
    font-weight: 500;
    color: black;
    font-size: max(4.5vw, 22px);
  }
  
  .header-contents p {
    color: black;
    font-size: 2vw;
  }
  
  .header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @media (max-width: 150px) {
    .header-contents {
      max-width: 45%;
    }
  }
  
  @media (max-width: 750px) {
    .header-contents {
      max-width: 65%;
    }
    .header-contents p {
      display: none;
    }
    .header-contents button {
      padding: 2vw 4vw;
    }
  }
  */



  .header {
    height: 34vw;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/header_img5.png') no-repeat;
    background-size: contain;
    filter: blur(10px); /* Adjust the blur radius as needed */
    z-index: -1;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight: 500;
    color:black;
    font-size: max(4.5vw,22px);
}
.header-contents p{
    color: black;
    font-size: 2vw;
}
.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw ;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;

}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media(max-width:150px){
    
    .header-contents{
        max-width: 45%;
    }
}
@media(max-width:750px){
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw ;
    }
}


